@using Identity2.Models

@model PasswordResetResponseViewModel

<div class="alert alert-warning">    
        <span class="glyphicon glyphicon-calendar" ></span> &nbsp; 
        @( Model.IsResetSuccess == 1 ? " Password was resetted successfully" : "Something went wrong - failed to reset user's password.")
</div>

