@model Identity2.Models.HomeViewModel


<p>Upload completed successfully</p>

<div class="col-md-5">
                 <img src="@(string.Concat("/Content/Images/", Model.uploadedFile))" alt="No_File_Was_Found" />
</div>
<div class="col-md-7">

</div>